/* 修改字体大小 */
.jsoneditor {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-width: 1px;
  border-radius: 0.3rem;
  overflow: visible;
  padding: 2px;
}

/* 改变树形视图背景 */
.jsoneditor-tree {
  background-color: #f8f9fa;
  font-size: 16px;
  border-radius: 0.3rem;
  font-family: "Courier New", Courier, monospace;
}

.jsoneditor-treepath .jsoneditor-treepath-element {
  font-size: 14px;
}

/* hover json 列表的颜色 */
tr.jsoneditor-highlight {
  background-color: transparent;
}

/* 选中节点的高亮颜色 */
tr.jsoneditor-selected {
  color: #fff !important;
}

.jsoneditor-navigation-bar.nav-bar-empty {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.jsoneditor-outer.has-nav-bar {
  background-color: #fff;
}

.jsoneditor-tree-inner .jsoneditor-tree {
  background-color: #fff;
}

div.jsoneditor-field,
div.jsoneditor-value,
div.jsoneditor td,
div.jsoneditor th,
div.jsoneditor textarea,
pre.jsoneditor-preview,
.jsoneditor-schema-error,
.jsoneditor-popover {
  font-size: 16px;
}

/* 菜单栏 */
.jsoneditor-contextmenu .jsoneditor-menu {
  width: 130px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-seri;
  border-radius: 0.3rem;
  padding: 5px;
}

.jsoneditor-contextmenu .jsoneditor-menu button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.jsoneditor-contextmenu .jsoneditor-icon {
  background-size: 24px 24px;
}
/*  类型图标 */
.jsoneditor-contextmenu button.jsoneditor-type-auto .jsoneditor-icon {
  background-image: url("../svg/type.svg");
}

/* 数组图标 */
.jsoneditor-contextmenu button.jsoneditor-type-array .jsoneditor-icon {
  background-image: url("../svg/array.svg");
}

/* 对象 */
.jsoneditor-contextmenu button.jsoneditor-type-object .jsoneditor-icon {
  background-image: url("../svg/obj.svg");
}

/* 字符串 */
.jsoneditor-contextmenu button.jsoneditor-type-string .jsoneditor-icon {
  background-image: url("../svg/string.svg");
}

/* 插入 */
.jsoneditor-contextmenu button.jsoneditor-insert .jsoneditor-icon {
  background-image: url("../svg/add.svg");
}

/* 追加 */
.jsoneditor-contextmenu button.jsoneditor-append .jsoneditor-icon {
  background-image: url("../svg/add.svg");
}

/* 复制 */
.jsoneditor-contextmenu button.jsoneditor-duplicate .jsoneditor-icon {
  background-image: url("../svg/copy.svg");
}
/* 追加 */
.jsoneditor-contextmenu button.jsoneditor-remove .jsoneditor-icon {
  background-image: url("../svg/deleted.svg");
}

.jsoneditor-contextmenu button.jsoneditor-extract .jsoneditor-icon {
  background-image: url("../svg/extract.svg");
  transform: rotate(270deg); /* 设置旋转角度 */
}
/* .jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected,
.jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected:hover,
.jsoneditor-contextmenu .jsoneditor-menu li button.jsoneditor-selected:focus {
  background-color: #42b983;
} */

.jsoneditor-contextmenu .jsoneditor-menu li {
  padding: 1px;
}

.jsoneditor-contextmenu .jsoneditor-menu button:hover,
.jsoneditor-contextmenu .jsoneditor-menu button:focus {
  border-radius: 0.3rem;
  background-color: #16a34a; /* Emerald 600 */
  color: #ffffff;
}

.jsoneditor-contextmenu .jsoneditor-text {
  padding-left: 32px;
}
